.search {
	width: 75%;
	margin: 3rem auto;
}

.search > p {
	font-weight: bold;
	font-size: 20px;
	line-height: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.search > .results {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 72px;
}
